body{
    background-color: #C9B6E4;
    margin: 0%;
}

.navbar-links
{
  margin-bottom: 70px;
  background-color:  #BE9FE1;
  
  
}
.navbar-links1
{ 
    margin: 0px ;
    padding-top: 16px;
}


.Menu {
    display: inline;
}

.div1{
    width: 100%;
    height: 500px;
    background-image: url("img/cropped-cropped-Rome.jpg");
    background-size: 100%;
}
a
{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 35px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
     text-shadow: 0 0 4px black ; 
    /*-webkit-text-stroke: 2px black; */
    text-align: center;
    
}

.div12
{
    font-family: 'Quicksand', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    border: solid;
}

.SveInformacije
{
  margin: 0%;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 20px;
  font-style: italic;

}

.Kolos
{
    /* The image used */
    background-image: url("img/koloseumrim.jpg");         
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.Panteon
{
    /* The image used */
    background-image: url("img/panteon1.jpg");         
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    border: solid;
}
.parallax
{
    /* The image used */
    background-image: url("img/vitorijano.jpg");         
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.naslovRIM
{
    margin: 0%;
}
mark {
    background-color: yellow;
    color: purple;
  }
.mapouter{
    border-radius: 25px;
}

.Menu1:hover {
    background-color: #F1F1F6;
    border-radius: 25px;
  }
@media only screen and (max-width: 768px) 
{  
    .div12
    {
        font-family: "Montserrat";
    }  
}
